In [1]:
2 + 2

4

In [2]:
2 + 2

4

In [3]:
2+2

4

# This is heading

# Python Basis
### Level 01
- input output
- variable 
- opertors
- data types

 ### Level 02
- conditional statements
- loops
- functions

 ### Level 03
- string
- dict
- list
- tuple

In [5]:
name = "bruce wayne 01"
color = 'yellow'
Institute = 'digipodium'

In [4]:
age = 10
is_married = False
name = 'ram'
value = 1.323

In [6]:
is_coding = True
is_fun = True
are_u_bored = False

In [7]:
x = None

In [8]:
a = [5,10,15,20,25,30,35,40]
vals = ['1,22,python']
colors = ['red','green','yellow']

In [9]:
a = {5,10,15,20,25,30,35,40}
vals = {1,22,'python'}
colors = {'red','green','yellow'}

In [1]:
x = 1
y = 3565222554887711
z = -3255522

In [2]:
x = 1.10
y = 1.0
z = 35.59
z = 87.7e100

In [3]:
a =(5,10,15,20,25,30,35,40)
vals =(1,22,'python')
colors =('red','green','yellow')

In [4]:
car_info = {
    "brand" : "Ford",
    "model" : "Mustang",
    "yrar" : 1964
}

# operators
- arithmetic
- assignment
- logical
- identity
- membership
- bitwise

In [5]:
x = 10 # = is used for assignment
y = 3

In [6]:
x = 10
y = 3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

13
7
30
3.3333333333333335
3
1
1000

#### Operator Precedence

In [7]:
2 + 3 * 5 / 3 - 5 + 2 -(3-10)

11.0

In [12]:
(3+2) * (5*3) / (3*5)

5.0

#### Assignment Operator

In [12]:
a = 100  # a will get 100
a +=15   # add 15 to existing value of a
a -= 10  # remove 10 from existing value of a

In [13]:
a *= 10 # multiply 10 with current value of a
a  %= 5  # store remainder in a after divided current value of 5
print(a)

0

# Comparison Operators

In [14]:

print(x > y)
print(x < y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)
print('hello' == 'hello')
print('hi' != "hi")
print("this" == 'that')

True
False
False
True
True
False
True
False
False

### Logical operators for multiple condition

In [1]:
a = 15
b = 20

In [2]:
a > 10 and b > a

True

In [3]:
a < 10 or b > 10

True

### any value other than 0 is true

In [4]:
bool(0) # True

False

### empty string is taken as False

In [12]:
name = input("enter name :")
bool(name)

True

### membership operators in and not in

In [1]:
x = [3,56,67,89,23,67,21,278,231,212,6]

In [2]:
10 in x

False

In [3]:
67 in x

True

In [4]:
20 not in x

True

## user input input (prompt) => string
### type casting -> convert one datatype to another

- int() -> convert data into integer
- float() -> convert data into float
- str() -> convert data into string
- list() -> convert data into list
- tuple() -> convert data into tuple
- bool() -> convert data into boolean
- set() -> convert data into set
- dict() -> convert data into dictionary

In [5]:
int(10.111)

10

In [6]:
int(True)

1

In [7]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [8]:
str(1010)

'1010'

In [9]:
str(10.000)

'10.0'

In [8]:
int_a = 100
print(int)
int('90')

<class 'int'>

90

#### back to input function

In [3]:
name = input("enter ur name")
phone = input('enter ur contact:')
age = int(input('enter ur age:'))

#### wap to calc simple interset

In [7]:
p = int(input('PRINCIPLE AMT:'))
r = float(input('RATE OF INTERST:'))
t = int(input('TIME IN YEARS:'))
si = p * r * t / 100
print(f'principle {p}')
print(f'rate of interest {r}')
print(f'time {t}')
print(f'simple interest {si}')

principle 12000
rate of interest 0.6
time 9
simple interest 648.0

#### (TASK) wap to calc area and circumference of circle using diameter as input

In [5]:
diameter = float(input('enter the diameter'))
radius = diameter / 2
pi = 3.14
area = pi * r * r
circumference = 2 * pi * r
print("the area of circle is :",area)
print("the circumference of circle is:",circumference )

the area of circle is : 1330735.1400000001
the circumference of circle is: 4088.28

### Displaying Information to User

In [6]:
y = input('your name:')
x = int(input('how many bagdes:'))
print(f'{y} got {x} badges')

ankita got 8 badges