In [1]:
from dputils.scrape import Scraper, Tag

In [2]:
query = 'phone'
page = 1
webpage = Scraper(f'https://www.amazon.in/s?k={query}&page={page}')
print(webpage.soup.title)

<title>Amazon.in : phone</title>

In [3]:
# important
target = Tag('div', cls='s-main-slot s-result-list s-search-results sg-row')
items = Tag('div', cls='s-result-item') # repeating products
title = Tag('h2')
price = Tag('span', cls='a-price-whole')
rating = Tag('i', cls='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom')

In [4]:
webpage.get_all(target, items, title=title, price=price, rating=rating)

[{'title': None, 'price': None, 'rating': None},
 {'title': None, 'price': None, 'rating': None},
 {'title': 'Samsung Galaxy A34 5G (Awesome Lime, 8GB, 128GB Storage) | 48 MP No Shake Cam (OIS) | IP67 | Gorilla Glass 5 | Voice Focus | Travel Adapter to be Purchased Separately  ',
  'price': '30,999',
  'rating': '4.6 out of 5 stars'},
 {'title': 'Samsung Galaxy A54 5G (Awesome Lime, 8GB, 256GB Storage) | 50 MP No Shake Cam (OIS) | IP67 | Gorilla Glass 5 | Voice Focus | Travel Adapter to be Purchased Separately  ',
  'price': '40,999',
  'rating': None},
 {'title': 'Nokia 105 Single SIM, Keypad Mobile Phone with Wireless FM Radio | Charcoal  ',
  'price': '1,299',
  'rating': None},
 {'title': 'Nokia 110 Dual sim Keypad Phone with Wireless FM Radio, Free Earphone, Snake Game, Auto Call Recording, 1 Year Replacement Guarantee | Cyan  ',
  'price': '1,649',
  'rating': None},
 {'title': 'Nokia C12 Android 12 (Go Edition) Smartphone, All-Day Battery, 4GB RAM (2GB RAM + 2GB Virtual RAM) + 64GB Capacity | Light Mint  ',
  'price': '6,599',
  'rating': None},
 {'title': 'Samsung Galaxy S20 FE 5G (Cloud Mint, 8GB RAM, 128GB Storage)  ',
  'price': '29,979',
  'rating': None},
 {'title': None, 'price': None, 'rating': None},
 {'title': 'OPPO A74 5G (Fantastic Purple,6GB RAM,128GB Storage) with No Cost EMI/Additional Exchange Offers  ',
  'price': '15,990',
  'rating': None},
 {'title': 'Nokia 105 Single SIM, Keypad Mobile Phone with Wireless FM Radio | Blue  ',
  'price': '1,299',
  'rating': None},
 {'title': 'realme narzo 50i Prime (Mint Green 3GB RAM+32GB Storage) Octa-core Processor | 5000 mAh Battery  ',
  'price': '7,499',
  'rating': None},
 {'title': 'Oppo A78 5G (Glowing Black, 8GB RAM, 128 Storage) | 5000 mAh Battery with 33W SUPERVOOC Charger| 50MP AI Camera | 90Hz Refresh Rate | with No Cost EMI/Additional Exchange Offers  ',
  'price': '18,999',
  'rating': None},
 {'title': 'Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Segment Best AI Dual Cam | 5000mAh Battery | Leather Texture Design | Android 12  ',
  'price': '6,499',
  'rating': None},
 {'title': 'Tecno Spark 9 (Sky Mirror, 6GB RAM,128GB Storage) | 11GB Expandable RAM | Helio G37 Gaming Processor  ',
  'price': '8,999',
  'rating': None},
 {'title': 'Redmi Note 12 5G Matte Black 6GB RAM 128GB ROM | 1st Phone with 120Hz Super AMOLED and SnapdragonÂ® 4 Gen 1 | 48MP AI Triple Camera  ',
  'price': '19,999',
  'rating': None},
 {'title': 'Redmi A1 (Black, 2GB RAM, 32GB Storage) | Segment Best AI Dual Cam | 5000mAh Battery | Leather Texture Design | Android 12  ',
  'price': '6,499',
  'rating': None},
 {'title': None, 'price': None, 'rating': None},
 {'title': 'Samsung Galaxy M04 Dark Blue, 4GB RAM, 64GB Storage | Upto 8GB RAM with RAM Plus | MediaTek Helio P35 | 5000 mAh Battery  ',
  'price': '9,249',
  'rating': None},
 {'title': 'Nokia 2660 Flip 4G Volte keypad Phone with Dual SIM, Dual Screen, inbuilt MP3 Player & Wireless FM Radio | Black  ',
  'price': None,
  'rating': None},
 {'title': 'Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery  ',
  'price': '6,499',
  'rating': None},
 {'title': 'realme narzo 50 (Speed Black, 4GB RAM+64GB Storage) Helio G96 Processor | 50MP AI Triple Camera | 120Hz Ultra Smooth Display  ',
  'price': '10,499',
  'rating': None},
 {'title': 'SENIOR WORLD Easyfone Elite with Sound Amplification - 2.3" phone with 20+ senior citizen friendly features Dock charger/App based Remote phone configuration (White) With 1 Year warranty  ',
  'price': '3,899',
  'rating': None},
 {'title': 'OPPO A15s (Fancy White, 4GB, 128GB Storage) AI Triple Camera | 6.52" HD+ Screen | 2.3GHz Mediatek Helio P35 Octa Core Processor  ',
  'price': '11,490',
  'rating': None},
 {'title': 'Oppo A78 5G (Glowing Blue, 8GB RAM, 128 Storage) | 5000 mAh Battery with 33W SUPERVOOC Charger| 50MP AI Camera | 90Hz Refresh Rate | with No Cost EMI/Additional Exchange Offers  ',
  'price': '18,999',
  'rating': None},
 {'title': 'Redmi K50i 5G (Quick Silver, 6GB RAM, 128GB Storage) | Flagship Mediatek Dimensity 8100 Processor | 144Hz Liquid FFS Display  ',
  'price': '23,999',
  'rating': None},
 {'title': 'Redmi 9 Activ (Carbon Black, 4GB RAM, 64GB Storage) | Octa-core Helio G35 | 5000 mAh Battery  ',
  'price': '547.',
  'rating': '4.4 out of 5 stars'},
 {'title': 'Redmi 9 Activ (Carbon Black, 4GB RAM, 64GB Storage) | Octa-core Helio G35 | 5000 mAh Battery  ',
  'price': None,
  'rating': None},
 {'title': 'IPHONE UNLOCKED  ',
  'price': '547.',
  'rating': '4.4 out of 5 stars'},
 {'title': 'Nillkin Galaxy S23 Ultra Case with Camera Cover, CamShield Pro for Samsung S23 Ultra Case, Slim Fit Thin Shockproof Cover for Samsung Galaxy S23 Ultra 5G 2023 (Deep Blue)  ',
  'price': '1,099',
  'rating': '4.4 out of 5 stars'},
 {'title': "Nillkin A53 5G Case, for Samsung Galaxy A53 5G Case, CamShield Pro Case with Slide Camera Cover, for Samsung a53 5g A Series Smartphone case 6.46'' -2022 (Black)  ",
  'price': '1,075',
  'rating': '4.7 out of 5 stars'},
 {'title': 'Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) | Segment Best AI Dual Cam | 5000mAh Battery | Leather Texture Design | Android 12  ',
  'price': '6,499',
  'rating': None},
 {'title': 'OPPO A74 5G (Fantastic Purple,6GB RAM,128GB Storage) with No Cost EMI/Additional Exchange Offers  ',
  'price': '15,990',
  'rating': None},
 {'title': 'Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) | 2 Ghz Octa Core Helio G25 | 5000 mAh Battery | Finger Print Sensor | Upto 5GB RAM with RAM Booster  ',
  'price': '8,999',
  'rating': None},
 {'title': 'Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery  ',
  'price': '6,499',
  'rating': None},
 {'title': None, 'price': None, 'rating': None},
 {'title': None, 'price': None, 'rating': None},
 {'title': None, 'price': None, 'rating': None},
 {'title': None, 'price': None, 'rating': None}]

In [5]:
def scrape_product(query, page=1):
    webpage = Scraper(f'https://www.amazon.in/s?k={query}&page={page}')
    print(webpage.soup.title)
    # important
    target = Tag('div', cls='s-main-slot s-result-list s-search-results sg-row')
    items = Tag('div', cls='s-result-item') # repeating products
    title = Tag('h2')
    price = Tag('span', cls='a-price-whole')
    rating = Tag('i', cls='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom')
    return webpage.get_all(target, items, title=title, price=price, rating=rating)

In [6]:
all_data = []
query='laptops'
for i in range(1, 15):
    all_data.extend(scrape_product(query, i))
    print(f'Page {i} done')

<title>Amazon.in : laptops</title>
Page 1 done
<title>Amazon.in : laptops</title>
Page 2 done
<title>Amazon.in : laptops</title>
Page 3 done
<title>Amazon.in : laptops</title>
Page 4 done
<title>Amazon.in : laptops</title>
Page 5 done
<title>Amazon.in : laptops</title>
Page 6 done
<title>Amazon.in : laptops</title>
Page 7 done
<title>Amazon.in : laptops</title>
Page 8 done
<title>Amazon.in : laptops</title>
Page 9 done
<title>Amazon.in : laptops</title>
Page 10 done
<title>Amazon.in : laptops</title>
Page 11 done
<title>Amazon.in : laptops</title>
Page 12 done
<title>Amazon.in : laptops</title>
Page 13 done
<title>Amazon.in : laptops</title>
Page 14 done

In [7]:
import pandas as pd
df = pd.DataFrame(all_data).dropna(how='all')
df.to_csv('laptops.csv', index=False)

In [8]:
df

,title,price,rating
2,Acer Extensa 15 Lightweight Laptop Intel Core ...,"42,990",None
3,Acer Aspire Vero AV15-51-5155 Green Laptop | 1...,"54,990",None
4,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"25,999",None
5,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,990",4.4 out of 5 stars
6,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",None
...,...,...,...
443,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"33,990",4.3 out of 5 stars
444,"HP 15s, 12th Gen Intel Core i5 16GB RAM/512GB ...","62,490",None
445,(Renewed) Dell Latitude Laptop E5470 Intel Cor...,None,None
446,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,45,766",None
447,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,09,900",None

In [9]:
import pandas as pd
import numpy as np

In [10]:
filepath = 'laptops.csv'
df = pd.read_csv(filepath)

In [11]:
df

,title,price,rating
0,Acer Extensa 15 Lightweight Laptop Intel Core ...,"42,990",NaN
1,Acer Aspire Vero AV15-51-5155 Green Laptop | 1...,"54,990",NaN
2,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"25,999",NaN
3,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,990",4.4 out of 5 stars
4,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",NaN
...,...,...,...
343,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"33,990",4.3 out of 5 stars
344,"HP 15s, 12th Gen Intel Core i5 16GB RAM/512GB ...","62,490",NaN
345,(Renewed) Dell Latitude Laptop E5470 Intel Cor...,NaN,NaN
346,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,45,766",NaN
347,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,09,900",NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   348 non-null    object
 1   price   343 non-null    object
 2   rating  47 non-null     object
dtypes: object(3)
memory usage: 8.3+ KB

In [13]:
print(df.columns.tolist())

['title', 'price', 'rating']

In [14]:
def clean_price_column(price):
    if isinstance(price, str):         # check if price variable is a string
        price = price.replace(',', '') # remove comma
        price = price.strip()          # remove whitespace
        if price.isnumeric():
            price = int(price)
            return price
        if len(price) == 0:
            return np.nan
    return price

In [15]:
clean_price_column('23,902')

23902

In [16]:
df['cleaned_price'] = df['price'].apply(clean_price_column)

In [17]:
df

,title,price,rating,cleaned_price
0,Acer Extensa 15 Lightweight Laptop Intel Core ...,"42,990",NaN,42990.0
1,Acer Aspire Vero AV15-51-5155 Green Laptop | 1...,"54,990",NaN,54990.0
2,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,"25,999",NaN,25999.0
3,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...","44,990",4.4 out of 5 stars,44990.0
4,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,"33,639",NaN,33639.0
...,...,...,...,...
343,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"33,990",4.3 out of 5 stars,33990.0
344,"HP 15s, 12th Gen Intel Core i5 16GB RAM/512GB ...","62,490",NaN,62490.0
345,(Renewed) Dell Latitude Laptop E5470 Intel Cor...,NaN,NaN,NaN
346,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,45,766",NaN,345766.0
347,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,09,900",NaN,309900.0

In [18]:
def clean_rating_column(rating):
    if isinstance(rating, str):
        rating = rating.split()[0]
        return float(rating)
    return rating

In [19]:
df['cleaned_rating'] = df['rating'].apply(clean_rating_column)

In [20]:
df.info

<bound method DataFrame.info of                                                  title     price  \
0    Acer Extensa 15 Lightweight Laptop Intel Core ...    42,990
1    Acer Aspire Vero AV15-51-5155 Green Laptop | 1...    54,990
2    HP 255 G8 Laptop with AMD Athlon Silver 3050U ...    25,999
3    Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...    44,990
4    Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...    33,639
..                                                 ...       ...
343  Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...    33,990
344  HP 15s, 12th Gen Intel Core i5 16GB RAM/512GB ...    62,490
345  (Renewed) Dell Latitude Laptop E5470 Intel Cor...       NaN
346  Apple 2023 MacBook Pro Laptop M2 Max chip with...  3,45,766
347  Apple 2023 MacBook Pro Laptop M2 Max chip with...  3,09,900

                 rating  cleaned_price  cleaned_rating
0                   NaN        42990.0             NaN
1                   NaN        54990.0             NaN
2                   NaN        25999.0             NaN
3    4.4 out of 5 stars        44990.0             4.4
4                   NaN        33639.0             NaN
..                  ...            ...             ...
343  4.3 out of 5 stars        33990.0             4.3
344                 NaN        62490.0             NaN
345                 NaN            NaN             NaN
346                 NaN       345766.0             NaN
347                 NaN       309900.0             NaN

[348 rows x 5 columns]>

In [21]:
df.sort_values(by='cleaned_rating', ascending=False, inplace=True)
df

,title,price,rating,cleaned_price,cleaned_rating
29,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...","84,990",4.7 out of 5 stars,84990.0,4.7
34,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...","84,990",4.7 out of 5 stars,84990.0,4.7
40,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...","84,990",4.7 out of 5 stars,84990.0,4.7
267,"Apple 2021 MacBook Pro (16-inch/41.05 cm, M1 M...","3,19,990",4.7 out of 5 stars,319990.0,4.7
62,"Lenovo ThinkBook 15 G3 Ryzen 3 15.6"" FHD Thin ...","35,990",4.6 out of 5 stars,35990.0,4.6
...,...,...,...,...,...
342,"ASUS Vivobook 15 OLED (2023), AMD Ryzen 5 7530...","65,990",NaN,65990.0,NaN
344,"HP 15s, 12th Gen Intel Core i5 16GB RAM/512GB ...","62,490",NaN,62490.0,NaN
345,(Renewed) Dell Latitude Laptop E5470 Intel Cor...,NaN,NaN,NaN,NaN
346,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,45,766",NaN,345766.0,NaN
347,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,09,900",NaN,309900.0,NaN

In [22]:
df.drop(columns=['price'], inplace=True)

In [23]:
df

,title,rating,cleaned_price,cleaned_rating
29,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...",4.7 out of 5 stars,84990.0,4.7
34,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...",4.7 out of 5 stars,84990.0,4.7
40,"Apple 2020 MacBook Air Laptop M1 chip, 13.3-in...",4.7 out of 5 stars,84990.0,4.7
267,"Apple 2021 MacBook Pro (16-inch/41.05 cm, M1 M...",4.7 out of 5 stars,319990.0,4.7
62,"Lenovo ThinkBook 15 G3 Ryzen 3 15.6"" FHD Thin ...",4.6 out of 5 stars,35990.0,4.6
...,...,...,...,...
342,"ASUS Vivobook 15 OLED (2023), AMD Ryzen 5 7530...",NaN,65990.0,NaN
344,"HP 15s, 12th Gen Intel Core i5 16GB RAM/512GB ...",NaN,62490.0,NaN
345,(Renewed) Dell Latitude Laptop E5470 Intel Cor...,NaN,NaN,NaN
346,Apple 2023 MacBook Pro Laptop M2 Max chip with...,NaN,345766.0,NaN
347,Apple 2023 MacBook Pro Laptop M2 Max chip with...,NaN,309900.0,NaN